{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {% if add_conference %}
        Add Conference
    {% else %}
        Edit Conference
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_conference %}
                <h1>Add Conference</h1>
            {% else %}
                <h1>Edit Conference</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
